<!DOCTYPE HTML>
<html>
<head>
  <title>AngularCamp: Learn. Share. Discover.</title>
  <meta charset="utf-8"/>
  <link rel="icon" href="images/icon_b.png">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Facebook Open Graph -->
  <meta property="og:site_name" content="AngularCamp">
  <meta property="og:title" content="AngularCamp: Learn. Share. Discover">
  <meta property="og:url" content="http://angularcamp.org">
  <meta property="og:description" content="A 2-day local event focused on everything related to AngularJS">
  <meta property="og:image" content="http://angularcamp.org/images/media/square.png">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="448700241996452">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@AngularCamp">
  <meta name="twitter:creator" content="@davidpichcanes">
  <meta name="twitter:title" content="AngularCamp">
  <meta name="twitter:description" content="A 2-day local event focused on everything related to AngularJS">
  <meta name="twitter:image" content="http://angularcamp.org/images/media/square.png">


  <!--[if lte IE 8]>
  <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/responsiveslides.css"/>
  <link rel="stylesheet" href="assets/css/responsiveslides.themes.css"/>
  <link rel="stylesheet" href="assets/css/main.css"/>
  <!--[if lte IE 9]>
  <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
  <style media="screen">
    .button.special.ac-button {
      background-color: #dad72a;
      color: black !important;
    }
  </style>
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <h1><a href="index.html"><img src="images/icon.png" alt="Angular Camp"/>AngularCamp</a></h1>
  </header>

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <div class="logo"><img src="images/AngularCamp-logo.png" alt=""/></div>
      <h1 class="event-date"><span>1st - 3rd July, Barcelona</span></h1>
      <h2>Learn. Share. Discover.</h2>
      <p>A local event focused on everything related to AngularJS</p>


      <!-- @TODO: add mailchimp sign up data -->
      <div class="signup-form">
        <form method="post" action="#" novalidate>
          <h3>Keep me updated</h3>
          <div>Be on track and get all relevant updates</div>
          <br>
          <div class="row uniform">
            <div class="8u 12u$(xsmall)">
              <input type="text" name="EMAIL" placeholder="Your E-Mail" value="" class="signup-form-input" />
              <input type="hidden" aria-hidden="true" name="b_d3a2c4d93441c84c0a1e6e808_705caf4dc7" tabindex="-1" value="">
            </div>
            <div class="4u 12u$(xsmall)">
              <input type="submit" value="Submit" class="special signup-form-submit" />
            </div>
          </div>
        </form>
      </div>



    </div>
  </section>

  <!-- Wrapper -->
  <section id="wrapper">

    <!-- What to expect? -->
    <section class="wrapper spotlight style1" id="what-to-expect">
      <div class="inner">
        <div class="content">
          <h2 class="major">What to expect?</h2>
          <p class="text-left">
            AngularCamp is a collaborative community conference for all people which are interested in coming together
            to share their recent work in a collaborative manner.
            The goal of the this camp is to help strengthen the skills of the Angular community and offer insights to
            techniques, trends and feature development.
          </p>
        </div>
      </div>
    </section>





    <!-- Code of Conduct -->
    <section class="wrapper alt spotlight style2" id="code-of-conduct">
      <div class="inner">
        <div class="content">
          <h2 class="major">Code of Conduct <i class="fa fa-check-square-o"></i></h2>
          <p>
            All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following
            code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from
            all participants to help ensuring a safe environment for everybody.
            <br>
            <br>
            <u>tl;dr: Don’t be a Jerk</u>
          </p>
          <a class="button" href="coc.html">Code of Conduct</a>
        </div>
      </div>
    </section>

  </section>

  <section id="footer" id="about">
    <div class="inner">
      <h2 class="major">About</h2>
      <p>AngularCamps are a series of community run events around the world. Launched in Barcelona, Spain, the goal of
        the camps is to help strengthen the skills of the Angular community and offer insights to techniques, trends and
        feature development.</p>

      <div class="copyright">
        <ul class="social">
          <li>
            <a href="https://twitter.com/AngularCamp/" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/AngularCamp/" class="icon fa-facebook" target="_blank"><span
                class="label">Facebook</span></a>
          </li>
          <li>
            <a href="https://github.com/AngularCamp" class="icon fa-github" target="_blank"><span
                class="label">Github</span></a>
          </li>
        </ul>
        <ul class="external">
          <li>
            AngularCamp. Made with <i class="fa fa-heart fa-1 footer-heart-margin"></i> by <a href="http://www.meetup.com/AngularJS-Beers"
                                                                          target="_blank">AngularJS & Beers</a>
          </li>
          <li>
            Template by <a href="http://html5up.net" target="_blank">HTML5 UP</a>
          </li>
        </ul>
      </div>
    </div>
  </section>


</div>

<!-- Scripts -->
<script id="talk-template" type="text/x-jquery-tmpl">
  <li class="talk-item">
    <div>
      <div class="level ${level.name}">${level.letter}<div class="tooltip">${level.name}</div></div>
    </div>
    <div>
      {{if url}}
      <a href="${url}"><strong>${name}</strong></a>
      {{else}}
      <strong>${name}</strong>
      {{/if}}
      {{if author}}
      <p class="talk-author">by ${author}</p>
      {{/if}}
    </div>
  </li>
</script>

<script id="contrib-and-interest-template" type="text/x-jquery-tmpl">
  <li class="talk-item">
  <div>
      <div class="level"><img src="${user.avatar_url}&s=38" alt="${user.login}"></div>
    </div>
    <div>
      <a href="${html_url}" target="_blank"><strong>${title}</strong></a>
      {{if user}}
      <p class="talk-author">by <a href="${user.html_url}" target="_blank">${user.login}</a></p>
      {{/if}}
    </div>
  </li>
</script>

<script src="assets/js/skel.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.tmpl.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/responsiveslides.min.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src   = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-837977-29', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
